/* Type Selector for body */
body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: white;
    color: black;
}

/* Header row styling */
th {
    background-color: darkgreen;
    color: white;
}

/* Caption styling */
caption {
    font-size: 24px;
}

/* Optional styling */
h1 {
    color: darkred;
}